.__mushroom {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  z-index: 1000;
}

.__chest--image {
  height: 10px;
  width: 10px;
}
